@model Patrimonios.Models.PatrimoniosModel

@{
    ViewData["Title"] = "Adicionar";
}

<div class="container">
    <div class="row text-center mt-2 mb-2">
        <h1>Adicionar Patrimônio</h1>
    </div>
    <div class="row">
        <form asp-action="Adicionar" method="post">
            <div class="col-4 mb-3">
                <label asp-for="NumeroPatrimonio" class="form-label">Nº Patrimônio</label>
                <input asp-for="NumeroPatrimonio" class="form-control" />
                <span asp-validation-for="NumeroPatrimonio" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Categoria" class="form-label">Categoria</label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Equipamento" class="form-label">Equipamento</label>
                <input asp-for="Equipamento" class="form-control" />
                <span asp-validation-for="Equipamento" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Marca" class="form-label">Marca</label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Modelo" class="form-label">Modelo</label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Descricao" class="form-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Status" class="form-label">Status</label>
                <select id="status" asp-for="Status" class="form-select" aria-label="Default select example">
                    <option value="0" selected>Selecione uma opção...</option>
                    <option value="Em uso">Em uso</option>
                    <option value="Armazenado">Armazenado</option>
                    <option value="Avariado">Avariado - com defeito</option>
                    <option value="Manutenção">Manutenção</option>
                    <option value="Alugado">Alugado</option>
                    <option value="Obsoleto">Obsoleto</option>
                    <option value="Decartado">Descartado</option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Localidade" class="form-label">Localidade</label>
                <select id="localidade" asp-for="Localidade" class="form-select" aria-label="Default select example">
                    <option selected>Selecione uma opção...</option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Unidade" class="form-label">Unidade</label>
                <select id="unidade" asp-for="Unidade" class="form-select" aria-label="Default select example">
                    <option selected>Selecione uma opção...</option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Setor" class="form-label">Setor</label>
                <input asp-for="Setor" class="form-control" />
                <span asp-validation-for="Setor" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="EstadoConservacao" class="form-label">Estado de Conservação</label>
                <input asp-for="EstadoConservacao" class="form-control" />
                <span asp-validation-for="EstadoConservacao" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="NotaFiscal" class="form-label">Nota Fiscal</label>
                <input asp-for="NotaFiscal" class="form-control" />
                <span asp-validation-for="NotaFiscal" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="NumeroSerie" class="form-label">Nº Série</label>
                <input asp-for="NumeroSerie" class="form-control" />
                <span asp-validation-for="NumeroSerie" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="DataAquisicao" class="form-label">Data Aquisição</label>
                <input asp-for="DataAquisicao" type="date" class="form-control" />
                <span asp-validation-for="DataAquisicao" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="Valor" class="form-label">Valor</label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <button type="submit" id="submitButton" class="btn btn-primary ps-2">Cadastrar</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/js/localidadesUnidades.js"></script>