@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar e-mail";
    Layout = "LoginLayout";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<a class="btn btn-primary" href="/">Entrar</a>