@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueci minha senha";
    Layout = "LoginLayout";
}

<h1>Esqueceu sua senha?</h1>
<p>
    Se você digitou um endereço válido, será enviado um e-mail para redefinir sua senha. Verifique sua caixa de entrada.
</p>
<p>Voltar para o <a href="/">início</a>.</p>
